body{
    background: url("./banner.jpg") top center fixed;
}

#logo{
    background-color: rgba(255, 255, 255, 0.644);
    padding-top:6%;
    margin-bottom: 80px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

#logo img{
    width: 100%;
}

#formulario{
    margin: auto 350px;

}

.boton{
    text-align: right;
    margin-bottom: 15px;
}

h2{
    text-align: center;
    color: white;
}

.form-control{
    background-color: rgba(255, 255, 255, 0.63)
}

span{
    font-weight: 900;
}

@media screen and (max-width:800px){

    #formulario{
        margin: auto 50px;
    }
}

@media screen and (max-width:1050px){
    body{
        background-image: url("./bannerMobile.jpg");
    }
}

@media screen and (min-width:800px) and (max-width: 1100px){
    #formulario{
        margin: auto 200px;
    }
}

footer{
    background: #423f42fd;
    color: white;
    width: 100%;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

#footer h3,h5{
    font-size: medium;
}



